@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'Meta Pro Cond';
  src: url('./fonts/MetaPro-CondBold.eot');
  src: url('./fonts/MetaPro-CondBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MetaPro-CondBold.woff2') format('woff2'),
      url('./fonts/MetaPro-CondBold.woff') format('woff'),
      url('./fonts/MetaPro-CondBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Pro';
  src: url('./fonts/MetaPro-Black.eot');
  src: url('./fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MetaPro-Black.woff2') format('woff2'),
      url('./fonts/MetaPro-Black.woff') format('woff'),
      url('./fonts/MetaPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Pro';
  src: url('./fonts/MetaPro-Bold.eot');
  src: url('./fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MetaPro-Bold.woff2') format('woff2'),
      url('./fonts/MetaPro-Bold.woff') format('woff'),
      url('./fonts/MetaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('./fonts/Sora-ExtraBold.eot');
  src: url('./fonts/Sora-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Sora-ExtraBold.woff2') format('woff2'),
      url('./fonts/Sora-ExtraBold.woff') format('woff'),
      url('./fonts/Sora-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('./fonts/Whitney-Semibold.eot');
  src: url('./fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Whitney-Semibold.woff2') format('woff2'),
      url('./fonts/Whitney-Semibold.woff') format('woff'),
      url('./fonts/Whitney-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('./fonts/Sora-SemiBold.eot');
  src: url('./fonts/Sora-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Sora-SemiBold.woff2') format('woff2'),
      url('./fonts/Sora-SemiBold.woff') format('woff'),
      url('./fonts/Sora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe Print';
  src: url('./fonts/SegoePrint.eot');
  src: url('./fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
      url('./fonts/SegoePrint.woff2') format('woff2'),
      url('./fonts/SegoePrint.woff') format('woff'),
      url('./fonts/SegoePrint.ttf') format('truetype'),
      url('./fonts/SegoePrint.svg#SegoePrint') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}






:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --campaign-background: #{$campaign-background};
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
    font-family: "Open Sans", sans-serif;
}

h1,h2{font-family: 'Meta Pro';}
h3, .get-started-sec h2{ font-family: "Open Sans", sans-serif;}
p{color: #003A5D;}
.quote-text{font-family: 'Segoe Print';}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hreo-sec{height: 95vh;}
.card-carsual .slick-slide > div{ margin:0 15px 30px;}
.card-carsual .slick-dots li, .brand-logos .slick-dots li{margin: 0;}
.card-carsual .slick-dots li button:before{font-size: 12px;}
.card-carsual .slick-dots li.slick-active button:before{color:#BA3725;}
.brand-logos .slick-dots li button:before{content: "" !important; display: block; opacity: 1; background-color: #D4D4D4; height: 7px; width: 97px; position: inherit;}
.brand-logos .slick-dots li.slick-active button:before{background-color: #BA3725;}
.brand-logos .slick-dots li, .brand-logos .slick-dots li button{width: auto !important; padding: 0;}

.ssSkider .slick-slider .slick-list, .card-carsual:not(.ssSkider) .slick-slider .slick-list{margin-right: -35vw;}
.social-ico li:hover img.hov{display: block;}
.social-ico li:hover img:not(.hov){display: none;}
.brand-logo{display: flex; align-items: center;}
.brand-logo:not(:last-child){border-right:1px solid #cccccc;}
.brand-logo img {
  margin: 0 auto;
  max-width: 132px;
  max-height: 52px;
  height: auto;
}
.institutional-partners .brand-logo img{max-height: 60px; max-width: 150px;}
.arrow-style .slick-arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 1px solid #bbb;
  bottom: -40px !important;
  left: 0;
  top: inherit;
  border-radius: 50px;
}
.slick-prev
{
  z-index: 10;
}
.arrow-style .slick-arrow.slick-prev {
  left: 20px;
}
.arrow-style .slick-arrow.slick-next {
  left: 80px;
}
.arrow-style .slick-arrow:before{opacity:1; color:#003A5D;}
.journy-step{grid-template-columns: repeat(14, minmax(0, 1fr));}
.journy-step li{display: flex; font-weight: 600; flex-wrap: wrap; justify-content: center; /*margin: 0 -24px;*/ margin: 0 -35px; font-size: 13px; line-height: 1.3;}
.journy-step li:nth-child(odd){margin-bottom: 190px;}
.journy-step li:nth-child(even){margin-top: 200px;}
.journy-step{position: relative; padding: 0 10px;  background-image: url(..//public/assets/Our-Journey-Desk-Bg.png); background-size: contain; background-repeat: no-repeat; background-position: center calc(50% + 10px);}
// .journy-step li::before{background-image: url(..//public/assets/find-w.png); width: 25px; height: 40px; display:block; content: ""; background-size: contain; margin: 5px 0;}
// .journy-step li:nth-child(odd):before{order: 1; transform: rotate(180deg);}
// .journy-step:before {
//   content: "";
//   height: 51px;
//   position: absolute;
//   left: -20px;
//   right: -20px;
//   border-radius: 50px;
//   background-color: #003A5D;
//   z-index: -1;
// }

.chartslider .slick-prev, .chartslider .slick-next {width: 60px;height: 60px;}
.automation-boxs .card-box:not(:last-child)::before {
  background-image: url(/_next/static/media/arrow-ico.a54d4cfb.png);
  content: "";
  position: absolute;
  left: 100%;
  width: 53px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

body .quote-text{font-size: 25px;}
.institutional-partners {
  max-width: 400px;
}

@media(min-width:991px) and (max-width:1279px){
  body .quote-text{font-size: 1.6vw;}
}

@media(max-width:990px){
  body .quote-text{font-size: 16px;}
}

@media(max-width:1279px){
.automation-boxs .card-box::before{width: 50px; height: 15px;}
}

@media(max-width:1025px){
  // .journy-step{padding-right: 30px;}
  .journy-step li:nth-child(odd) {
    margin-bottom: 180px;}
  .journy-step li:nth-child(even) {
      margin-top: 180px;
  }
  .journy-step li{margin: 0 -30px;}
}

@media(min-width:666px) and (max-width:991px){
.brand-logo{margin-top: 10px; margin-bottom: 10px;}
.brand-logo:nth-child(3n + 3){border: none;}
}

@media(max-width:767px){
  .journy-step{
    padding: 10px 20px 10px;
    background-image: url(..//public/assets/Our-Journey-Desk-V-Bg1.png);
    max-width: 320px; margin: 0 auto;
    background-position: center;
  }
  .journy-step li{margin-top: 0 !important; margin-bottom: 0 !important; font-size: 11px;}
  .journy-step li:nth-child(odd){margin-left: 50%; padding-left: 40px; text-align: left;}
  .journy-step li:nth-child(even){margin-right: 50%; padding-right: 40px; text-align: right ;}
  .chartslider .slick-prev, .chartslider .slick-next {width: 25px;height: 25px;}
  .service-hero {
    background-position: 82% 50%;
  }
  .footer-link .separator{display: none;}
  .footer-link li{margin: 5px 0;}
  .journy-step li:nth-child(6n), .journy-step li:nth-child(7n), .journy-step li:nth-child(8n), .journy-step li:nth-child(9n), .journy-step li:nth-child(10n), .journy-step li:nth-child(11n), .journy-step li:nth-child(13n) {
    position: relative;
    // top: -13px;
    top: 0;
}
.journy-step li:last-child{top:0; display: none;}
}

@media(max-width:665px){
  .brand-logo{margin-top: 10px; margin-bottom: 10px;}
  .ssSkider .slick-slider .slick-list, .card-carsual:not(.ssSkider) .slick-slider .slick-list{margin-right: -75vw;}
  .brand-logo:nth-child(even){border: none;}
  .brand-logo img {
    max-width: 100px;
    max-height: 60px;
    min-height: 20px;
    width: auto;
}
.brand-logos .slick-dots li button{margin: 0 3px;}
.automation-boxs .card-box:not(:last-child)::before {
  width: 50px;
  height: 18px;
  bottom: 0;
  left: 50%;
  transform: rotate(90deg) translate(0, -50%);
  top: 100%;
  margin-top: 17px;
  margin-left: -30px;
}
.card-carsual .card-box p {
  height: 180px;
  margin: 0 -10px;
}
}